@model Entities.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme Ekranı</h2>
<br />

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
<div class="form-group">


    @Html.Label("Kategori")
    @Html.TextBoxFor(r => r.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(r => r.CategoryName)
    @Html.HiddenFor(x => x.CategoryId)
    <br /><br />
    @Html.Label("Açıklamayı Yazınız")
    @Html.TextAreaFor(r => r.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(r => r.CategoryDescription)
    <br /><br />


</div>
    <button class="btn btn-warning">Güncelle</button>
}

