
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/web2/css/style.css" rel="stylesheet" media="all" />


<br />
<div class="sales" style="background-color:#1abc9c">
    <h3>@ViewBag.d1</h3>
    <p>Toplam Kategori Sayısı</p>

    <div class="clearfix"></div>

</div>

<div class="new-users" style="background-color:#2ecc71">

    <h3>@ViewBag.d2</h3>

    <p>Yazılım Kategorisi Başlık Sayısı</p>


    <div class="clearfix"></div>

</div>

<div class="orders" style="background-color:#3498db">
    <h3>@ViewBag.d3</h3>
    <p>Yazar Adında 'A' Harfi Geçen Yazar Sayısı</p>
    <div class="clearfix"></div>

</div>

<div class="visitors" style="background-color:#9b59b6">


    <h3>@ViewBag.d4</h3>

    <p> En fazla başlığa sahip kategori adı</p>


    <div class="clearfix"></div>

</div>

<div class="clearfix"></div>
<br />

<div class="visitors" style="background-color:#9b59b6">


    <h3>@ViewBag.d5</h3>

    <p>Aktif-Pasif farkı</p>


    <div class="clearfix"></div>

</div>

<div class="clearfix"></div>

